In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pickle
pd.__version__

'1.1.5'

In [4]:
dataset=pd.read_csv('dataset.csv')
dataset

   index  experience  test_score  interview_score  salary
0      0         NaN         8.0                9   50000
1      1         NaN         8.0                6   45000
2      2         5.0         6.0                7   60000
3      3         2.0        10.0               10   65000
4      4         7.0         9.0                6   70000
5      5         7.0         7.0               10   62000
6      6        10.0         NaN                9   72000
7      7        11.0         7.0                8   80000

In [5]:
dataset['experience'].fillna(0, inplace=True)

In [6]:
dataset['test_score'].fillna(dataset['test_score'].mean(),inplace=True)

In [7]:
X=dataset.iloc[:,:3]
Y=dataset.iloc[:,-1]

In [10]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [11]:
regressor.fit(X,Y)

LinearRegression()

In [14]:
pickle.dump(regressor,open('model.pkl','wb'))

In [16]:
model=pickle.load(open('model.pkl','rb'))

In [18]:
print(model.predict([[2,3,6]]))

[51054.71879506]